<div class="margin-top tiny">
  <h2 class="text-center">All Users</h2>
  <div class="text-center">
    <%= render 'shared/search_users' %>
  </div>
  <div class="row padding-top tiny">
    <div class="col-lg-6 offset-lg-3">
      <ul class="list-group">
        <% @users.each do |user| %>
          <li class="list-group-item">
            <%= link_to "#{full_name(user)}", user_path(user) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
