.padding-top {

  &.tiny {
    padding-top: 2%;
  }

  &.map {
    padding-top: 5%;
  }

  &.small {
    padding-top: 10%;
  }

}

.padding-bottom {

  &.small {
    padding-bottom: 5%;
  }

  &.large {
    padding-bottom: 10%;
  }
}

.margin-top {

  &.tiny {
    margin-top: 2%;
  }

}

.custom-container {
  width: 1100px;
  max-width: 100%;
}
