tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

table {
  height: 425px;
  display: -moz-groupbox;
}

tbody {
  overflow-y: scroll;
  height: 425px;
  width: 100%;
  position: absolute;
}
