<% if user_signed_in? %>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
<% else %>
  <nav class="navbar navbar-toggleable-md bg-faded">
<% end %>
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to 'TravelBook', root_path , id: 'logo-main' %>
    <% else %>
      <%= link_to 'TravelBook', root_path , id: 'logo-secondary' %>
    <% end %>
    <ul class="nav navbar-nav mr-auto"></ul>
      <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= render 'layouts/nav_links_for_auth' %>
        </li>
      <% else %>
          <%= render 'layouts/nav_registration' %>
      <% end %>
    </ul>
  </div>
</nav>
